/* Need Help? Join my discord @ discord.gg/yWddFpQ */
:root {
    --background-contrast: 95%;
    --background-blur: 3px;
    --loadbar-color: #000000;
    --loadbar-progress-color: #FFEB1E;
    --loadbar-height: 27px;
    --footer-font-color: #FFEB1E;
    --footer-font-size: 24px;
    --fadeTo-Color: #000000;
}
